# Data science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* list four popular languages in data science
* Arithmetics
* Popular data science tools

## Author
Maryam

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries by Data Scientists include:
1. Matplotlib
2. Pandas
3. Scikit learn
4. NumPy

| Data Science Tools|
----------------------
| Github|
| Jupyter Notebook|
| R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [6]:
m = 200;
h = m/60;
print(h)

3.3333333333333335